* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* navigation baR   */
.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.0); /* Fully transparent */
    position: absolute;
    top: 0;
    left: 0;
}

.nav-item {
    text-align: center;
    margin-right: 20px;
}

.nav-item img {
    width: 30px;
    display: block;
    margin: auto;
}

.nav-item a {
    color: rgb(15, 14, 14);
    text-decoration: none;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

/* MAIN CONTAINER    */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the logo */
    margin-top: 80px;
}

/*   LOGO */
.logo img {
    width: 250px;
    margin-bottom: 30px;
}

/* menu selection */
.menu-container {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    padding-left: 50px; /* Adjust left margin for positioning */
}

/* MENU BUTTONS */
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the left */
    gap: 20px;
}

.menu img {
    width: 280px;
    opacity: 0.8; /* Slight transparency para ang middle transparent sa background */
    transition: 0.3s;
}

.menu img:hover {
    opacity: 1;
}
